<div class="container">
  <h2>Login</h2>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="getEmail()?.invalid && getEmail()?.touched">
        <small *ngIf="getEmail()?.errors?.['required']" class="text-danger">Email is required</small>
        <small *ngIf="getEmail()?.errors?.['pattern']" class="text-danger">Invalid email format</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="getPassword()?.invalid && getPassword()?.touched">
        <small *ngIf="getPassword()?.errors?.['required']" class="text-danger">Password is required</small>
      </mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-center">
      <button mat-button color="primary" (click)="onSubmit()">Login</button>
    </div>
  </form>
</div>
