
<section class="vh-80">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-200">
      <div class="col-md-9 col-lg-6 col-xl-5 border-0" id="img">
        <img src="../../../assets/images/login1.png"
          class="img-fluid " alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <form [formGroup]="loginForm">
            <mat-form-field class="form-outline col-12">
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="getEmail()?.invalid && getEmail()?.touched">
                <small *ngIf="getEmail()?.errors?.['required']" class="text-danger">Email is required</small>
                <small *ngIf="getEmail()?.errors?.['pattern']" class="text-danger">Invalid email format</small>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-outline col-12">
              <input matInput type="password" placeholder="Password" formControlName="password">
              <mat-error *ngIf="getPassword()?.invalid && getPassword()?.touched">
                <small *ngIf="getPassword()?.errors?.['required']" class="text-danger">Password is required</small>
              </mat-error>
            </mat-form-field>
            
          <div class="text-center text-lg-center mt-4 pt-2">
            <button type="button" class="btn "
              style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="onSubmit()">Login</button>

          </div>

        </form>
      </div>
    </div>
  </div>

</section>