h2{
    color: var(--main);
  }
  form{
    box-shadow: 1px 1px 2px var(--lightgrey),
                -1px -1px 2px var(--lightgrey);
  }
  label{
    color: var(--main);
  }
  .btn-submit{
    background-color: var(--main);
    color: var(--white)
  }
  .btn-submit:hover{
    background-color: var(--submain);
  }
  