table {
    width: 100%;
    & thead{
      background-color: var(--header);
    }
}

.btn-add{
  background-color: var(--header);
  border: 1px solid var(--header);
  &:hover{
    background-color: var(--sub-main);
    border: 1px solid var(--sub-main);
  }
}
