 <div class="container">
    <div class="row">
      <div class="text-end">
        <a [routerLink]="['/project/add']">
          <button type="button" class="btn btn-sm btn-primary me-2 col-2" style="background-color: #484c7f !important;" id="addButton">
            Add New Project
            <i class="fa fa-plus"></i>
          </button>
        </a>
      </div>
    </div>
    <br>
  </div>
  <br>
  <table class="table table-striped table-bordered styled-table">
    <thead style="background-color: #3a3d6a;">
      <tr style="text-align: center;" class="text-light">
        <th>#NO</th>
        <th>Name</th>
        <th>Total Hours</th>
        <th>Total Budget</th>
        <th>Location</th>
        <th>Status</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="projects.length > 0; else emptyProjects">
        <tr *ngFor="let project of projects; let i = index" style="text-align: center;">
          <td>{{i+1}}</td>
          <td>{{project.projectName}}</td>
          <td>{{project.projectHours}}</td>
          <td>{{project.projectTotalBudget}}</td>
          <td>{{project.projectLocation}}</td>
          <td>{{project.projectStatus}}</td>
          <td style="display: flex;justify-content: space-around;">
            <div class="buttons d-flex flex-column d-md-flex flex-md-row gap-2">
              <a [routerLink]="['/project/edit/', project.projectId]">
                <button type="button" class="btn btn-sm btn-primary me-2">
                  <i class="fa fa-edit"></i>
                </button>
              </a>
              <a [routerLink]="['/project/details/', project.projectId]">
                <button class="btn btn-sm btn-dark me-2">
                  <i class="fa fa-eye"></i>
                </button>
              </a>
              <a>
                <button class="btn btn-sm btn-danger" (click)="delete(project.projectId)">
                  <i class="fa fa-trash"></i>
                </button>
              </a>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-template #emptyProjects>
        <tr>
          <td colspan="7" style="text-align: center;color: red;font-weight: bold;">No projects created yet.</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
  
  <router-outlet></router-outlet>