#color{
  background-color: var(--main);
  color: white;
}
h3{
  color: var(--main);
}

table{
  box-shadow: 1px 3px 10px var(--shadow);
}
thead{
  background-color: var(--sub-main2);
}
.buttons{
  & .btn-edit {
    background-color: var(--sub-main2);
    color: var(--white);
  }
  & .btn-edit:hover{
    background-color: var(--sub-main);
  }
  & .btn-danger{
    color: whitesmoke;
  }
}
