<div class="container">
    <div class="row">
        <div class="text-end">
            <button mat-button class="button back-button" (click)="back()">
                <mat-icon>arrow_back</mat-icon>
                Back
            </button>
        </div>
    </div>
    <mat-card class="my-2 patient-card">
        <mat-card-header class="patient-card-header">
            <mat-card-title>Project Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card class="my-2 patient-card">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered styled-table">
                            <thead style="background-color: #3a3d6a;" >
                                <tr style="text-align: center;" class="text-light">
                                    <th>Name</th>
                                    <th>TotalBudget</th>
                                    <th>TotalCost</th>
                                    <th>TotalHours</th>
                                    <th>TotalHoursSpent</th>
                                    <th>Status</th>
                                    <th>Location</th>
                                    <th>StartDate</th>
                                    <th>EndDate</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align: center;">
                                    <td>{{project.projectName}}</td>
                                    <td>{{project.projectTotalBudget}}</td>
                                    <td>{{ProjectHoursAndTotalCost.totalCost}}</td>
                                    <td>{{project.projectHours}}</td>
                                    <td>{{ProjectHoursAndTotalCost.totalHoursSpent}}</td>
                                    <td>{{project.projectStatus}}</td>
                                    <td>{{project.projectLocation}}</td>
                                    <td>{{project.projectStartDate | date:'yyyy-MM-dd'}}</td>
                                    <td>{{project.projectEndDate | date:'yyyy-MM-dd'}}</td>
                                    <td>{{project.projectDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>

            <h3><b>Project Phases</b></h3>
            <mat-card class="my-2 patient-card">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered styled-table">
                            <thead style="background-color: #3a3d6a;">
                                <tr style="text-align: center;" class="text-light">
                                    <th>#NO</th>
                                    <th>Name</th>
                                    <th>StartDate</th>
                                    <th>EndDate</th>
                                    <th>Milestone</th>
                                    <th>HrBudget</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let phase of project?.projectPhases;let i = index"
                                    style="text-align: center;">
                                    <td>{{i+1}}</td>
                                    <td>{{phase.phaseName}}</td>
                                    <td>{{phase.phaseStartDate | date:'yyyy-MM-dd'}}</td>
                                    <td>{{phase.phaseEndDate | date:'yyyy-MM-dd'}}</td>
                                    <td>{{phase.phaseMilestone}}</td>
                                    <td>{{phase.phaseHrBudget}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
            <h3><b>Project Tasks</b></h3>
            <mat-card class="my-2 patient-card">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered styled-table">
                            <thead style="background-color: #3a3d6a;">
                                <tr style="text-align: center;" class="text-light">
                                    <th>#NO</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>TotalHours</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of project?.projectTasks;let i = index"
                                    style="text-align: center;">
                                    <td>{{i+1}}</td>
                                    <td>{{task.taskName}}</td>
                                    <td>{{task.taskDescription}}</td>
                                    <td>{{task.totalHoursPerTask}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
            <h3><b>Employees in Project</b></h3>
            <mat-card class="my-2 patient-card">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered styled-table">
                            <thead style="background-color: #3a3d6a;">
                                <tr style="text-align: center;" class="text-light">
                                    <th>#NO</th>
                                    <th>FullName</th>
                                    <th>Position</th>
                                    <th>TotalCost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let employee of project?.employeesInProject;let i = index"
                                    style="text-align: center;">
                                    <td>{{i+1}}</td>
                                    <td>{{employee.employeeFirstName+" "+employee.employeeLastName}}</td>
                                    <td>{{employee.employeePosition}}</td>
                                    <td>{{EmployeesCostsInProject[i]?.totalCost ?? 0}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
            <h3><b>Project Attendances</b></h3>
            <mat-card class="my-2 patient-card">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered styled-table">
                            <thead style="background-color: #3a3d6a;">
                                <tr style="text-align: center;" class="text-light">
                                    <th>#NO</th>
                                    <th>EmployeeName</th>
                                    <th>PhaseName</th>
                                    <th>TaskName</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>HoursSpent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let attendance of project?.projectAttendances;let i = index"
                                    style="text-align: center;">
                                    <td>{{i+1}}</td>
                                    <td>{{attendance.employeeName}}</td>
                                    <td>{{attendance.phaseName}}</td>
                                    <td>{{attendance.taskName}}</td>
                                    <td>{{attendance.date | date:'yyyy-MM-dd'}}</td>
                                    <td>{{attendance.description}}</td>
                                    <td>{{attendance.hoursSpent}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>