<div class="container">
    <div class="row">
        <div class="text-end">
            <button mat-button class="button back-button" (click)="back()">
                <mat-icon>arrow_back</mat-icon>
                Back
            </button>
        </div>
    </div>
    <mat-card class="my-2 patient-card">
        <h3 class="mt-2 ms-3"><i class="fa-solid fa-circle-info"></i><b> Project Details</b></h3>
        <mat-card-content>
            <mat-card class="my-2 patient-card">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered styled-table">
                            <thead>
                                <tr style="text-align: center;" class="text-light">
                                    <th>Name</th>
                                    <th>Total Budget</th>
                                    <th>Total Cost</th>
                                    <th>Total Hours</th>
                                    <th>Total Hours Spent</th>
                                    <th>Status</th>
                                    <th>Location</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align: center;">
                                    <td>{{project.projectName}}</td>
                                    <td>{{project.projectTotalBudget}}</td>
                                    <td [style.color]="getCostColor()">{{ProjectHoursAndTotalCost.totalCost}}</td>
                                    <td>{{project.projectHours}}</td>
                                    <td [style.color]="getTotalHoursColor()">{{ProjectHoursAndTotalCost.totalHoursSpent}}</td>
                                    <td>{{project.projectStatus}}</td>
                                    <td>{{project.projectLocation}}</td>
                                    <td>{{project.projectStartDate | date:'yyyy-MM-dd'}}</td>
                                    <td>{{project.projectEndDate | date:'yyyy-MM-dd'}}</td>
                                    <td>{{project.projectDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="row mt-5">
                <div class="col-6">
                    <h3><i class="fa fa-list-alt" aria-hidden="true"></i><b> Project Phases</b></h3>
                </div>
                <!-- <div class="col-6 text-end" >
                    <a [routerLink]="['/phases/add/{{project.projectId}}']">
                        <button type="button"  class="btn btn-sm btn-primary  col-4" style="background-color: #484c7f !important;" id="addButton">
                          Add New phase
                          <i class="fa fa-plus"></i>
                        </button>
                      </a>
                </div> -->

             </div>
            <mat-card  *ngIf="position === 'Admin' || position === 'Accountant'" class="my-2 patient-card">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered styled-table">
                          <thead>
                            <tr style="text-align: center;" class="text-light">
                              <th>#NO</th>
                              <th>Name</th>
                              <th>Start Date</th>
                              <th>End Date</th>
                              <th>Milestone</th>
                              <th>Hr Budget</th>
                              <th >Actions</th>
                            </tr>
                          </thead>
                          <tbody class="text-center">
                            <ng-container *ngIf="project?.projectPhases && project.projectPhases.length > 0; else noPhases">
                              <tr *ngFor="let phase of project.projectPhases; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ phase.phaseName }}</td>
                                <td>{{ phase.phaseStartDate | date:'yyyy-MM-dd' }}</td>
                                <td>{{ phase.phaseEndDate | date:'yyyy-MM-dd' }}</td>
                                <td>{{ phase.phaseMilestone }}</td>
                                <td>{{ phase.phaseHrBudget }}</td>
                                <td class="actions d-flex justify-content-around">
                                  <div class="buttons d-flex flex-column d-md-flex flex-md-row gap-2">
                                    <a  *ngIf="position === 'Admin'" [routerLink]="['/phases/edit/', phase.id]">
                                      <button type="button" class="btn btn-sm btn-edit me-2">
                                        <i class="fa fa-edit"></i>
                                      </button>
                                    </a>
                                    <a  *ngIf="position === 'Admin' || position === 'Accountant'" [routerLink]="['/phases/details/', phase.id]">
                                      <button class="btn btn-sm btn-dark me-2">
                                        <i class="fa fa-eye"></i>
                                      </button>
                                    </a>
                                    <a  *ngIf="position === 'Admin'">
                                      <button class="btn btn-sm btn-danger me-2" (click)="delete(phase.id)">
                                        <i class="fa fa-trash"></i>
                                      </button>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                            </ng-container>
                            <ng-template #noPhases>
                              <tr>
                                <td colspan="7" style="color: red;font-weight: bolder;text-align: center;">NO phases added to this project yet.</td>
                              </tr>
                            </ng-template>
                          </tbody>
                        </table>
                      </div>
                      
                </mat-card-content>
            </mat-card>
            <div class="row mt-5">
               <div class="col-6"><h3><i class="fa fa-tasks" aria-hidden="true"> </i><b> Project Tasks</b></h3></div>
               <div class="col-6 text-end" >
                <a *ngIf="position === 'Admin'" [routerLink]="['/projecttask/createid',project.projectId]">
                    <button type="button" class="btn btn-sm btn-primary  col-4" style="background-color: #484c7f !important;margin-right: 20px;" id="addButton">
                      Add New Task
                      <i class="fa fa-plus"></i>
                    </button>
                  </a>
               </div>

            </div>

            <mat-card *ngIf="position === 'Admin' || position === 'Accountant'" class="my-2 patient-card">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered styled-table">
                          <thead>
                            <tr style="text-align: center;" class="text-light">
                              <th>#NO</th>
                              <th>Name</th>
                              <th>Description</th>
                              <th>Total Hours</th>
                              <th *ngIf="position === 'Admin' || position === 'Accountant'">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngIf="project?.projectTasks && project.projectTasks.length > 0; else noTasks">
                              <tr *ngFor="let task of project.projectTasks; let i = index" style="text-align: center;">
                                <td>{{ i + 1 }}</td>
                                <td>{{ task.taskName }}</td>
                                <td>{{ task.taskDescription }}</td>
                                <td>{{ task.totalHoursPerTask }}</td>
                                <td class="actions d-flex justify-content-around">
                                  <div class="buttons d-flex flex-column d-md-flex flex-md-row gap-2">
                                    <a *ngIf="position === 'Admin'" [routerLink]="['/projecttask/edit/', task.id]">
                                      <button type="button" class="btn btn-sm btn-edit me-2">
                                        <i class="fa fa-edit"></i>
                                      </button>
                                    </a>
                                    <a *ngIf="position === 'Admin' || position === 'Accountant'" [routerLink]="['/projecttask/details/', task.id]">
                                      <button class="btn btn-sm btn-dark me-2">
                                        <i class="fa fa-eye"></i>
                                      </button>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                            </ng-container>
                            <ng-template #noTasks>
                              <tr>
                                <td colspan="5" style="color: red;font-weight: bolder;text-align: center;">NO tasks assigned to this project yet.</td>
                              </tr>
                            </ng-template>
                          </tbody>
                        </table>
                      </div>
                </mat-card-content>
            </mat-card>

            <h3 *ngIf="position === 'Admin' || position === 'HR'"  class="mt-5"><i class="fa fa-users" aria-hidden="true"></i><b> Employees in Project</b></h3>
            <mat-card *ngIf="position === 'Admin' || position === 'HR'"  class="my-2 patient-card">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered styled-table">
                          <thead>
                            <tr style="text-align: center;" class="text-light">
                              <th>#NO</th>
                              <th>Full Name</th>
                              <th>Position</th>
                              <th>Total Cost</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngIf="project?.employeesInProject && project.employeesInProject.length > 0; else noEmployees">
                              <tr *ngFor="let employee of project.employeesInProject; let i = index" style="text-align: center;">
                                <td>{{ i + 1 }}</td>
                                <td>{{ employee.employeeFirstName + ' ' + employee.employeeLastName }}</td>
                                <td>{{ employee.employeePosition }}</td>
                                <td>{{ EmployeesCostsInProject[i]?.totalCost ?? 0 }}</td>
                              </tr>
                            </ng-container>
                            <ng-template #noEmployees>
                              <tr>
                                <td colspan="4" style="color: red;font-weight: bolder;text-align: center;">NO employees assigned to this project yet.</td>
                              </tr>
                            </ng-template>
                          </tbody>
                        </table>
                      </div>
                      
                </mat-card-content>
            </mat-card>

            <h3 *ngIf="position === 'Admin' || position === 'HR'"  class="mt-5"><i class="fa-solid fa-users"></i><b> Project Attendances</b></h3>
            <mat-card *ngIf="position === 'Admin' || position === 'HR'" class="my-2 patient-card">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered styled-table">
                          <thead>
                            <tr style="text-align: center;" class="text-light">
                              <th>#NO</th>
                              <th>Employee Name</th>
                              <th>Phase Name</th>
                              <th>Task Name</th>
                              <th>Date</th>
                              <th>Description</th>
                              <th>Hours Spent</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngIf="project?.projectAttendances && project.projectAttendances.length > 0; else noAttendances">
                              <tr *ngFor="let attendance of project.projectAttendances; let i = index" style="text-align: center;">
                                <td>{{ i + 1 }}</td>
                                <td>{{ attendance.employeeName }}</td>
                                <td>{{ attendance.phaseName }}</td>
                                <td>{{ attendance.taskName }}</td>
                                <td>{{ attendance.date | date:'yyyy-MM-dd' }}</td>
                                <td>{{ attendance.description }}</td>
                                <td>{{ attendance.hoursSpent }}</td>
                              </tr>
                            </ng-container>
                            <ng-template #noAttendances>
                              <tr>
                                <td colspan="7" style="color: red;font-weight: bolder;text-align: center;" >NO attendances recorded for this project yet.</td>
                              </tr>
                            </ng-template>
                          </tbody>
                        </table>
                      </div>
                      
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>
