.mybutton {
  background-color: var(--main);
  color: var(--white);
}
.mybutton:hover {
  background-color: var(--sub-main);
  transition: 0.2s;
}

.fullwidth {
  width: 100%;
}

.halfwidth {
  width: 48%;
}
