#details{
    box-shadow: 1px 7px 10px var(--lightgrey);
    border-radius: 10px;
    padding: 7px;
    margin-left: 5%;
    margin-top: 10%;
    // width: 40%;
}
h2{
    color: var(--chart-bg);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
strong{
    color: var(--chart-bg);
    font-weight: 400;
}
p{
    color: var(--lightgrey);
}