<div class="employee-form-container ">
    <div class="employee-form d-flex justify-content-center text-center">
      <form [formGroup]="editEmpForm">
        <div class="form-row">
          <div class="form-column">
            <mat-form-field appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput [formControlName]="'employeeFirstName'" >
              <mat-error *ngIf="getFname()?.invalid && getFname()?.touched">
                <small *ngIf="getFname()?.errors?.['required']" class="text-danger">
                  First Name required (No Numbers)
                </small>
                <small *ngIf="getFname()?.errors?.['minlength']" class="text-danger">
                  First Name must be at least 3 characters long
                </small>
                <small *ngIf="getFname()?.errors?.['pattern']" class="text-danger">
                  First Name can only contain letters
                </small>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput [formControlName]="'employeeLastName'">
              <mat-error *ngIf="getLname()?.invalid && getLname()?.touched">
                <small *ngIf="getLname()?.errors?.['required']" class="text-danger">
                  Last Name required (No Numbers)
                </small>
                <small *ngIf="getLname()?.errors?.['minlength']" class="text-danger">
                  Last Name must be at least 3 characters long
                </small>
                <small *ngIf="getLname()?.errors?.['pattern']" class="text-danger">
                  Last Name can only contain letters
                </small>
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="form-column">
            <mat-form-field appearance="fill">
              <mat-label>Salary Per Hour</mat-label>
              <input matInput [formControlName]="'employeeSalaryPerHour'" type="number">
              <mat-error *ngIf="getSalaryPerHour()?.invalid && getSalaryPerHour()?.touched">
                <small *ngIf="getSalaryPerHour()?.errors?.['required']" class="text-danger">
                  Salary Per Hour is required
                </small>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="fill">
              <mat-label>Over Time</mat-label>
              <input matInput [formControlName]="'employeeOverTime'" type="number">
              <mat-error *ngIf="getOverTime()?.invalid && getOverTime()?.touched">
                <small *ngIf="getOverTime()?.errors?.['required']" class="text-danger">
                  Over Time is required
                </small>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-column">
            <mat-form-field appearance="fill">
              <mat-label>Salary</mat-label>
              <input matInput [formControlName]="'employeeSalary'" type="number">
              <mat-error *ngIf="getSalary()?.invalid && getSalary()?.touched">
                <small *ngIf="getSalary()?.errors?.['required']" class="text-danger">
                  Salary is required
                </small>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="fill">
              <mat-label>Profile Image</mat-label>
              <input matInput [formControlName]="'employeeProfileUrl'" type="text">
              <mat-error *ngIf="getProfileUrl()?.invalid && getProfileUrl()?.touched">
                <small *ngIf="getProfileUrl()?.errors?.['required']" class="text-danger">
                  Profile Image URL is required
                </small>
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="form-column">
            <mat-form-field appearance="fill">
              <mat-label>Phone</mat-label>
              <input matInput [formControlName]="'employeePhone'" type="text">
              <mat-error *ngIf="getPhone()?.invalid && getPhone()?.touched">
                <small *ngIf="getPhone()?.errors?.['required']" class="text-danger">
                  Phone is required
                </small>
                <small *ngIf="getPhone()?.errors?.['pattern']" class="text-danger">
                  Phone number is invalid
                </small>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="fill" >
              <mat-label>Email</mat-label>
              <input matInput [formControlName]="'employeeEmail'" type="email" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="getEmail()?.invalid && getEmail()?.touched">
                <small *ngIf="getEmail()?.errors?.['required']" class="text-danger">
                  Email is required
                </small>
                <small *ngIf="getEmail()?.errors?.['pattern']" class="text-danger">
                  Email is invalid
                </small>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-column">
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput [formControlName]="'employeePassword'" type="password">
              <mat-error *ngIf="getPassword()?.invalid && getPassword()?.touched">
                <small *ngIf="getPassword()?.errors?.['required']" class="text-danger">
                  Password is required
                </small>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="fill">
                <mat-label>Hiring Date</mat-label>
                <input matInput [formControlName]="'employeeHiringDate'" type="text">
                <mat-error *ngIf="getHiringDate()?.invalid && getHiringDate()?.touched">
                  <small *ngIf="getHiringDate()?.errors?.['required']" class="text-danger">
                    Hiring Date is required
                  </small>
                </mat-error>
              </mat-form-field>

          </div>
  
          <div class="form-column ">
            <mat-form-field appearance="fill">
                <mat-label>Position</mat-label>
                <input matInput [formControlName]="'employeePosition'" type="text">
                <mat-error *ngIf="getPosition()?.invalid && getPosition()?.touched">
                  <small *ngIf="getPosition()?.errors?.['required']" class="text-danger">
                    Position is required
                  </small>
                </mat-error>
              </mat-form-field>
          </div>
        </div>
        <div class="form-actions">
          <button class="mybutton" mat-raised-button (click)="editEmp()">Edit Employee</button>
        </div>
      </form>
    </div>
  </div>
  