<div *ngIf="dept?.length !=0">
    <h2>Departments:</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <!-- <th scope="col">ID</th> -->
              <th scope="col">Department Name</th>
              <th scope="col">manager name</th>
              <th scope="col"># Employees</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let department of dept">
              <!-- <td>{{department.id}}</td> -->
              <td>{{department.departmentName}}</td>
              <td>{{department.managerName}}</td>
              <td>{{department.noEmployees}}</td>
            </tr>
          </tbody>
      </table>
    
  </div>
  
  <div *ngIf="dept?.length == 0">
    <p>No departments available.</p>
  </div>