.fullwidth {
    width: 100%;
}

.halfwidth {
    width: 48%;
}
h2{
  color: var(--main);
}
.btn-add{
  background-color: var(--btn-bg) !important;
  padding: 28px 2px;
  &:hover{
    background-color: var(--sub-main2) !important;
  }
}
.btn-save{
  background-color: var(--main);
  color: var(--white);
  width: 15%;
  &:hover{
    background-color: var(--sub-main);
  }
}
.btn-trash{
  color: whitesmoke;
}
