 <div class="projecttask-form-container">
  <div class="projecttask-form d-flex justify-content-center text-center">
    <form [formGroup]="createProjectTaskForm">
      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label>taskName</mat-label>
            <input matInput [formControlName]="'taskName'" >
            <mat-error *ngIf="gettaskName()?.invalid && gettaskName()?.touched">
              <small *ngIf="gettaskName()?.errors?.['required']" class="text-danger">
                Task Name required (No Numbers)
              </small>
              <small *ngIf="gettaskName()?.errors?.['minlength']" class="text-danger">
                Task Name must be at least 3 characters long
              </small>
              <small *ngIf="gettaskName()?.errors?.['pattern']" class="text-danger">
                Task Name can only contain letters
              </small>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>taskDescription</mat-label>
            <input matInput [formControlName]="'taskDescription'">
            <mat-error *ngIf="gettaskDescription()?.invalid && gettaskDescription()?.touched">
              <small *ngIf="gettaskDescription()?.errors?.['required']" class="text-danger">
                taskDescription required (No Numbers)
              </small>
              <small *ngIf="gettaskDescription()?.errors?.['minlength']" class="text-danger">
                taskDescription must be at least 3 characters long
              </small>
              <small *ngIf="gettaskDescription()?.errors?.['pattern']" class="text-danger">
                taskDescription  must has at least one  letter and one digit
              </small>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label>totalHoursPerTask</mat-label>
            <input matInput [formControlName]="'totalHoursPerTask'" type="number">
            <mat-error *ngIf="gettotalHoursPerTask()?.invalid && gettotalHoursPerTask()?.touched">
              <small *ngIf="gettotalHoursPerTask()?.errors?.['required']" class="text-danger">
                totalHoursPerTask is required
              </small>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-12 col-md-4 ">
            <mat-label>Project id:</mat-label>
            <mat-select  (selectionChange)="onprojectIdChange($event)" class="small-select py-2">
              <mat-option *ngFor="let project of projects" [value]="project.projectId">
                {{ project.projectName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>

 
   
      <div class="form-actions">
        <button class="mybutton" mat-raised-button (click)="createProjectTask()">Create ProjectTask</button>
      </div>
    </form>
  </div>
</div> 



