.form-row {
  display: flex;
}

.form-column {
  padding: 0px 10px;
}

.form-field {
  width: 100%;
  padding: 15px;
}

h2{
  color: var(--main);
}

.btn-save {
  margin-top: 3%;
  background-color:#484C7F;
  color: white;
}

.btn-save:hover {
  background-color: var(--sub-main);
  color: var(--white);
  transition: 0.2s;
}

mat-form-field {
  width: 100%;
}

input {
  padding-top: 20px;
}