<form (ngSubmit)="createDepartment()" #form="ngForm" id="form">
  <div>
    <label for="departmentName" class="text-info">Department Name:</label>
    <input type="text" id="departmentName" name="departmentName" [(ngModel)]="departmentName" required>
  </div>

  <div>
    <label for="managerId" class="text-info">Manager ID:</label>
    <input type="number" id="managerId" name="managerId" [(ngModel)]="managerId">
  </div>

  <div>
    <label for="employessIds" class="text-info">Employee IDs:</label>
    <input type="text" id="employessIds" name="employessIds" [(ngModel)]="employessIds">
  </div>
  <div>
    <h4>Before create we check if this manager in another Dept </h4>
      <label for="stopornot" class="text-info" style="font-size: 12px;">1-> Continue  <br/>0-> Stop</label>
    <input type="number"  min="0" max="1" id="stopornot" name="stopornot" [(ngModel)]="stopornot">
  </div>

  <button type="submit" [disabled]="!form.valid" class="btn btn-outline-info rounded mt-5">Create Department</button>
</form>


<!-- <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<h4>departmentName</h4>
<input type="text" [(ngModel)]="departmentName"><br><br>
<h4>departmentName</h4>
<input type="text" [(ngModel)]="managerId"><br><br>
<h4>departmentName</h4>
<input type="number" [(ngModel)]="employessIds"><br><br>
<h4>Before create we check if this manager in another Dept </h4>
<h5>so if you want to move it select (1)  or (0) to stop create</h5>
<input type="text" [(ngModel)]="stopornot"><br><br> -->

