<div class="container">
  <div class="row">
    <div class="text-end">
      <button mat-button class="button back-button" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Back
      </button>
    </div>
  </div>
  <mat-card class="container p-3">
    <mat-card-header>
      <h2>Add New Task</h2>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="createProjectTaskForm">
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-md-3 gap-0">
          <mat-form-field class="col-12 col-md-4">
            <mat-label>taskName</mat-label>
            <input matInput [formControlName]="'taskName'">
            <mat-error *ngIf="gettaskName()?.invalid && gettaskName()?.touched">
              <small *ngIf="gettaskName()?.errors?.['required']" class="text-danger">
                Task Name required (No Numbers)
              </small>
              <small *ngIf="gettaskName()?.errors?.['minlength']" class="text-danger">
                Task Name must be at least 3 characters long
              </small>
              <small *ngIf="gettaskName()?.errors?.['pattern']" class="text-danger">
                Task Name can only contain letters
              </small>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-12 col-md-4">
            <mat-label>taskDescription</mat-label>
            <input matInput [formControlName]="'taskDescription'">
            <mat-error *ngIf="gettaskDescription()?.invalid && gettaskDescription()?.touched">
              <small *ngIf="gettaskDescription()?.errors?.['required']" class="text-danger">
                taskDescription required (No Numbers)
              </small>
              <small *ngIf="gettaskDescription()?.errors?.['minlength']" class="text-danger">
                taskDescription must be at least 3 characters long
              </small>
              <small *ngIf="gettaskDescription()?.errors?.['pattern']" class="text-danger">
                taskDescription must has at least one letter and one digit
              </small>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-12 col-md-4">
            <mat-label>totalHoursPerTask</mat-label>
            <input matInput [formControlName]="'totalHoursPerTask'" type="number">
            <mat-error *ngIf="gettotalHoursPerTask()?.invalid && gettotalHoursPerTask()?.touched">
              <small *ngIf="gettotalHoursPerTask()?.errors?.['required']" class="text-danger">
                totalHoursPerTask is required
              </small>
            </mat-error>
          </mat-form-field>
        </div>
        <div style="display: flex;justify-content: center;">
          <button class="mybutton" mat-raised-button (click)="createProjectTask()">Create ProjectTask</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- 
  <label>projectId</label>
  <input {{idparam}} type="number"> -->