.danger-instructions {
    background-color: #3a3d66;
    padding: 15px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }